// app global css in SCSS form

// Global

body {
  overflow-x: hidden;
}

.body--light {
  color: $dark !important;
}

/* ===== Utility classes ===== */

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.min-height-window {
  min-height: 100vh;
}

.restricted-height-50vh {
  max-height: 50vh;
}

.restricted-height-modal {
  max-height: 70vh;
}

.order-view-content-height {
  height: calc(100vh - 180px);
}

@media screen and (min-width: 1023px) {
  .order-view-content-height {
    height: calc(100vh - 240px);
  }
}

.page-wrapper-height {
  height: calc(100vh - 59px);
}

.dialog-md {
  width: 900px !important;
  max-width: 90vw !important;
}

.flex-grow {
  flex-grow: 1;
  min-width: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.w-fit {
  width: fit-content;
}

.image-card {
  width: 100%;
  aspect-ratio: 1.2;
}

.image-md {
  width: 150px;
  height: 150px;
}

.image-sm-md {
  width: 80px;
  height: 80px;
}

.image-sm {
  width: 45px;
  height: 45px;
}

.image-xs {
  width: 40px;
  height: 40px;
}

.fit-cover {
  object-fit: cover;
}

.gap-xs {
  gap: 10px;
}

.gap-sm {
  gap: 15px;
}

.gap-md {
  gap: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 25px;
}

@media screen and (min-width: 400px) {
  .card-grid {
    grid-template-columns: repeat(2, 180px);
  }
}

@media screen and (min-width: 700px) {
  .card-grid {
    grid-template-columns: repeat(2, 220px);
  }
}

@media screen and (min-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(3, 220px);
  }
}

@media screen and (min-width: 1300px) {
  .card-grid {
    grid-template-columns: repeat(4, 220px);
  }
}

@media screen and (min-width: 1500px) {
  .card-grid {
    grid-template-columns: repeat(4, 250px);
  }
}

.max-w-xl {
  max-width: 1200px;
}

.max-w-lg {
  max-width: 900px;
}

.max-w-md {
  max-width: 600px;
}

.max-w-sm {
  max-width: 500px;
}

.max-w-xsm {
  max-width: 280px;
  min-width: 0;
}

.text-label {
  color: $input-label-color;
}

.absolute-bottom-right-offset {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}

/* ===== Quasar styles overrides ===== */

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #c1c1c1;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

p {
  margin: 0;
}

.sticky-last-column-table thead tr:last-child th:last-child,
.sticky-last-column-table td:last-child {
  background-color: $grey-1;
  border-left: 1px solid $table-border-color;
}

.sticky-last-column-table td:last-child,
.sticky-last-column-table th:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}

.show-validation-errors-only .q-field__control {
  display: none;
}

.disabled-cursor-default.disabled * {
  cursor: default !important;
}

.icons-md .q-icon {
  font-size: 24px;
}

.q-table th {
  font-size: 14px;
}

.q-table tbody td {
  font-size: 16px;
}

.q-table .sortable .q-table__sort-icon {
  position: absolute;
  padding-top: 2px;
}

.q-table thead,
.q-table tr,
.q-table th,
.q-table td {
  line-height: 46px;
}

.q-field.q-field--float .q-field__label {
  font-size: 20px;
  top: 10px;
  line-height: unset;
}

.q-toggle__label {
  color: $input-label-color;
}

.q-timeline__content {
  padding-bottom: 10px;
}
