// app global css in SCSS form

/* === Utility classes === */

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.w-fit {
  width: fit-content;
}

.image-md {
  width: 150px;
  height: 150px;
}

.max-w-md {
  max-width: 600px;
}

.max-w-sm {
  max-width: 500px;
}

.absolute-bottom-right-offset {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}

/* === Quasar styles overrides === */

.q-table th {
  font-size: 13px;
}

.q-table tbody td {
  font-size: 14px;
}
