// app global css in SCSS form

/* === Utility classes === */

.d-block {
  display: block;
}

.w-fit {
  width: fit-content;
}

/* === Quasar styles overrides === */

.q-table th {
  font-size: 13px;
}

.q-table tbody td {
  font-size: 14px;
}
